/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary: #AAD7D9;
    --secondary: #92C7CF;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar ,.footer{
    background-color: #92C7CF !important;
    color : white !important;
}

a {
    color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}






/* Ajoutez ces styles dans votre fichier CSS existant */

h1{
    color:blue
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #200E3A;
}

.navbar-brand img {
    max-height: 40px; /* Ajustez la hauteur de votre logo */
}

.navbar-toggler {
    border-color: #38419D;
}

/* Styles pour les liens de la barre de navigation */
.navbar-nav .nav-item {
    margin-right: 15px; /* Ajustez la marge entre les éléments si nécessaire */
}

.nav-link {
    color: white;
}

/* Styles pour le dropdown dans la barre de navigation */
.dropdown-menu {
    background-color: var(--your-background-color);
    border: 1px solid var(--your-accent-color);
}

.dropdown-item {
    color: var(--your-text-color);
}

/* Styles pour le dropdown divider */
.dropdown-divider {
    border-color: var(--your-accent-color);
}
